<div id="home">
    <nav class="home-nav">
        <ul class="home-nav-links">
            <li><a href="index.html">Home</a></li>
            <!--<li><a href="projects.html">Projects</a></li>-->
            <!--<li><a href="cv.html">CV</a></li>-->
            <li><a href="about.html">About</a></li>
        </ul>
        <ul class="home-nav-social">
            <li><a href="https://github.com/alejandrods" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alex-diaz-santos-8aab812a/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>
</div>

<div id="about">
    <nav class="home-nav">
        <ul class="home-nav-links">
            <li><a href="index.html">Home</a></li>
            <!--<li><a href="projects.html">Projects</a></li>-->
            <!--<li><a href="cv.html">CV</a></li>-->
            <li><a href="about.html">About</a></li>
        </ul>
        <ul class="home-nav-social">
            <li><a href="https://github.com/alejandrods" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github"></i></a></li>
            <li><a href="https://www.linkedin.com/in/alex-diaz-santos-8aab812a/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin"></i></a></li>
        </ul>
    </nav>
</div>
